python-dotenv
langchain
langchain-chroma
langchain-openai
langchain-core
langchain-huggingface
bs4
beautifulsoup4
langchain-community
faiss-cpu
langchain-groq
fastapi
uvicorn
sentence-transformers
langserve
duckduckgo-search
streamlit
arxiv
wikipedia
validators==0.28.1
youtube_transcript_api
unstructured
langchain-huggingface
huggingface_hub
